.textfield{
    background-color: transparent;
    color: white;
    border: solid white 2px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
}

.selectfield{
    background-color: transparent;
    border: solid white 2px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
}
.selectfield option{
    color: black;
}

.info{
    margin: 20px;
    width: 300px;
    text-align: justify;
    font-size: 0.9em;
    border: solid white 1px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0097ce;
}