.navbar{
    position: relative;
    top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.404) 0px 0px 20px;
}

.logo{
    padding: 10px;
}

.logo:hover{
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.buttons button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
}

.buttons button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}