.body{
    background-color: white;
    color: black;
    min-height: 100vh;
    padding: 10px;
    margin-top: 20px;
}

.attention{
 color: rgb(252, 126, 126);
 background-color: black;
 padding: 30px;
 border-radius: 20px;   
}

.form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form input{
    background-color: transparent;
    border: none;
    border-bottom: solid black 1px;
    padding: 10px;
    color: black;
}

.form label select {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

.form button{
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
    border: none;
}
.form button:hover{
    cursor: pointer;
}

.underageform{
    border: solid 1px black;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}


@media only screen and (max-width: 800px) {
    .underageform input{
        width: 100%;
    }

    .underageform{
        border: solid 1px black;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}