.body{
    min-height: 100vh;
    background-color: aqua;
    background-size: cover;
    background-repeat: repeat;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.body article{
    background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?cs=srgb&dl=pexels-fwstudio-129731.jpg&fm=jpg");
    background-size: cover;
    margin: 10px;
    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body article div{
    border: solid white 2px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}